# Dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/.expo/
dist/
web-build/
expo-env.d.ts

# Firebase
.firebase/

# Native build outputs
android/
ios/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
